*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

font-family:Arial, sans-serif;

background:
radial-gradient(
circle at top,
#312e81,
#050505 60%
);

color:white;

min-height:100vh;

}



.navbar{

height:80px;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 7%;

background:
rgba(5,5,10,.8);

backdrop-filter:blur(20px);

border-bottom:1px solid #333;

position:sticky;

top:0;

z-index:10;

}



.logo{

font-size:28px;

font-weight:900;

}



.logo span{

color:#8b5cf6;

text-shadow:
0 0 20px #8b5cf6;

}



nav{

display:flex;

gap:30px;

}



nav a{

color:#aaa;

text-decoration:none;

transition:.3s;

}


nav a:hover{

color:white;

}



.discord-btn{

background:#5865F2;

padding:12px 20px;

border-radius:12px;

color:white;

text-decoration:none;

font-weight:bold;

box-shadow:
0 0 25px #5865F2;

}



.hero{

height:750px;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

text-align:center;

position:relative;

overflow:hidden;

}



.glow{

position:absolute;

width:500px;

height:500px;

background:#8b5cf6;

filter:blur(150px);

opacity:.3;

animation:pulse 4s infinite;

}



@keyframes pulse{

50%{

transform:scale(1.3);

}

}



.z-animation{

position:absolute;

font-size:300px;

font-weight:900;

opacity:.08;

animation:float 4s infinite;

}



@keyframes float{

50%{

transform:translateY(-40px);

}

}



.hero h1{

font-size:80px;

z-index:1;

}



.hero span{

background:
linear-gradient(
90deg,
#8b5cf6,
#00d4ff
);

-webkit-background-clip:text;

color:transparent;

}



.hero p{

font-size:20px;

color:#aaa;

max-width:700px;

margin:30px;

z-index:1;

}



.buttons{

display:flex;

gap:20px;

z-index:1;

}



.main-btn,
.second-btn{

padding:16px 30px;

border-radius:15px;

text-decoration:none;

font-weight:bold;

transition:.3s;

}



.main-btn{

background:
linear-gradient(
135deg,
#8b5cf6,
#2563eb
);

color:white;

}



.second-btn{

border:1px solid #555;

color:white;

}



.main-btn:hover,
.second-btn:hover{

transform:translateY(-5px) scale(1.05);

}



.stats{

display:flex;

gap:70px;

margin-top:70px;

z-index:1;

}



.stats strong{

font-size:35px;

}



.stats p{

color:#aaa;

font-size:14px;

}



.features{

padding:80px 7%;

text-align:center;

}



.features h2{

font-size:40px;

}



.cards{

display:grid;

grid-template-columns:
repeat(
3,
1fr
);

gap:30px;

margin-top:40px;

}



.card{

background:#11111c;

padding:40px;

border-radius:20px;

border:1px solid #333;

transition:.3s;

}



.card:hover{

transform:translateY(-10px);

border-color:#8b5cf6;

box-shadow:
0 0 30px #8b5cf6;

}



.card p{

color:#aaa;

margin-top:15px;

}



footer{

padding:40px;

text-align:center;

background:#050505;

color:#777;

}




@media(max-width:800px){

nav{

display:none;

}


.hero h1{

font-size:45px;

}


.cards{

grid-template-columns:1fr;

}


.stats{

gap:20px;

}

}
.click-z{

position:fixed;

font-size:50px;

font-weight:900;

color:#8b5cf6;

pointer-events:none;

animation:jump .8s forwards;

}


@keyframes jump{

from{

transform:translateY(0);

opacity:1;

}

to{

transform:translateY(-100px);

opacity:0;

}

}
