.shop-page{

padding:120px 8%;

text-align:center;

}


.shop-page h1{

font-size:70px;

margin:25px;

}


.shop-page h1 span{

color:#8b5cf6;

}


.tag{

display:inline-block;

padding:10px 20px;

border-radius:30px;

background:#18182b;

color:#bda7ff;

}



.search{

margin:40px;

width:400px;

max-width:90%;

padding:15px;

border-radius:15px;

background:#11111c;

border:1px solid #444;

color:white;

font-size:16px;

}



.categories{

display:flex;

justify-content:center;

gap:15px;

margin-bottom:40px;

}



.categories button{

padding:12px 25px;

border-radius:12px;

border:none;

background:#8b5cf6;

color:white;

cursor:pointer;

}



.products{

display:grid;

grid-template-columns:
repeat(4,1fr);

gap:25px;

}



.product{

background:
rgba(255,255,255,.05);

border:1px solid #333;

border-radius:25px;

padding:30px;

transition:.3s;

}



.product:hover{

transform:translateY(-10px);

border-color:#8b5cf6;

box-shadow:
0 0 30px #8b5cf6;

}



.icon{

font-size:80px;

}



.product p{

color:#aaa;

margin:15px;

}



.product button{

margin-top:20px;

padding:12px 25px;

background:#2563eb;

color:white;

border:0;

border-radius:12px;

cursor:pointer;

}



@media(max-width:900px){

.products{

grid-template-columns:1fr;

}

}
